[package]
name = "granian"
version = "1.0.2"
description = "A Rust HTTP server for Python applications"
authors = ["Giovanni Barillari <g@baro.dev>"]
license = "BSD-3-Clause"
edition = "2021"

keywords = ["web", "asyncio"]

readme = "README.md"
homepage = "https://github.com/emmett-framework/granian"
repository = "https://github.com/emmett-framework/granian"

include = [
    "/Cargo.toml",
    "/pyproject.toml",
    "/build.rs",
    "/LICENSE",
    "/README.md",
    "/src",
    "/granian",
    "/tests",
    "!__pycache__",
    "!tests/.pytest_cache",
    "!*.so",
]

[lib]
name = "_granian"
crate-type = ["cdylib"]

[dependencies]
anyhow = "=1.0"
futures = "0.3"
http-body-util = { version = "=0.1" }
hyper = { version = "=1.1", features = ["http1", "http2", "server"] }
hyper-util = { version = "=0.1", features = ["server-auto", "tokio"] }
log = "0.4"
mimalloc = { version = "0.1.34", default-features = false, features = ["local_dynamic_tls"] }
percent-encoding = "=2.3"
pin-project = "1.0"
pyo3 = { version = "=0.20", features = ["anyhow", "extension-module", "generate-import-lib"] }
pyo3-asyncio = { version = "=0.20", features = ["tokio-runtime"], git = "https://github.com/gi0baro/pyo3-asyncio.git", rev = "6e3a309" }
pyo3-log = "=0.8"
rustls-pemfile = "1.0"
socket2 = { version = "0.5", features = ["all"] }
tls-listener = { version = "=0.8", features = ["rustls"] }
tokio = { version = "1.24", features = ["full"] }
tokio-stream = "0.1"
tokio-rustls = "0.24"
tokio-tungstenite = "0.20"
tokio-util = { version = "0.7", features = ["codec"] }
tungstenite = "0.20"

[profile.release]
codegen-units = 1
debug = false
incremental = false
lto = "fat"
opt-level = 3
panic = "abort"
strip = true
