[package]
name = "granian"
version = "0.1.0-beta.1"
description = "A Rust HTTP server for Python applications"
authors = ["Giovanni Barillari <gi0baro@d4net.org>"]
license = "BSD-3-Clause"
edition = "2018"

keywords = ["web", "asyncio"]

readme = "README.md"
homepage = "https://github.com/emmett-framework/granian"
repository = "https://github.com/emmett-framework/granian"

include = [
    "Cargo.toml",
    "LICENSE",
    "pyproject.toml",
    "README.md",
    "src/*"
]

[lib]
name = "_granian"
crate-type = ["cdylib"]

[package.metadata.maturin]
name = "granian._granian"
requires-python = ">=3.7"

classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: MacOS",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python",
    "Programming Language :: Rust",
    "Topic :: Internet :: WWW/HTTP"
]

[dependencies]
bytes = "1"
futures = "0.3"
hyper = { version = "0.14", features = ["http1", "http2", "server", "stream", "runtime", "tcp"] }
once_cell = "1.5"
pin-project = { version = "1.0" }
pyo3 = { version = "0.16", features = ["extension-module"] }
pyo3-asyncio = { path = "lib/pyo3-asyncio", version = "0.16", features = ["tokio-runtime"] }
rustls-pemfile = "1.0"
socket2 = { version = "0.4", features = ["all"] }
tls-listener = { version = "0.5", features = ["rustls", "hyper-h1", "hyper-h2"] }
tokio = { version = "1.17", features = ["full"] }
tokio-rustls = "0.23"
tokio-tungstenite = { version = "0.17" }
tokio-util = { version = "0.7", features = ["codec"] }
tungstenite = { version = "0.17" }

[target.'cfg(not(all(target_os="linux", target_arch="aarch64")))'.dependencies]
mimalloc = { version = "0.1.28" }

[profile.release]
codegen-units = 1
debug = false
incremental = false
lto = "thin"
opt-level = 3
panic = "abort"

[profile.release.build-override]
opt-level = 0
