[package]
name = "granian"
version = "1.5.0"
description = "A Rust HTTP server for Python applications"
authors = ["Giovanni Barillari <g@baro.dev>"]
license = "BSD-3-Clause"
edition = "2021"

keywords = ["web", "asyncio"]

readme = "README.md"
homepage = "https://github.com/emmett-framework/granian"
repository = "https://github.com/emmett-framework/granian"

include = [
    "/Cargo.toml",
    "/pyproject.toml",
    "/build.rs",
    "/LICENSE",
    "/README.md",
    "/src",
    "/granian",
    "/tests",
    "!__pycache__",
    "!tests/.pytest_cache",
    "!*.so",
]

[lib]
name = "_granian"
crate-type = ["cdylib"]

[dependencies]
anyhow = "=1.0"
crossbeam-channel = "0.5"
futures = "0.3"
http-body-util = { version = "=0.1" }
hyper = { version = "=1.4", features = ["http1", "http2", "server"] }
hyper-util = { version = "=0.1", features = ["server-auto", "tokio"] }
itertools = "0.13"
log = "0.4"
percent-encoding = "=2.3"
pin-project = "1.1"
pyo3 = { version = "=0.22", features = ["anyhow", "extension-module", "generate-import-lib"] }
pyo3-log = { version = "=0.11", git = "https://github.com/vorner/pyo3-log", rev = "b62a250533" }
rustls-pemfile = "2.1"
socket2 = { version = "0.5", features = ["all"] }
tls-listener = { version = "=0.9", features = ["rustls"] }
tokio = { version = "1.38", features = ["full"] }
tokio-stream = "0.1"
tokio-tungstenite = "=0.23"
tokio-util = { version = "0.7", features = ["codec"] }

[target.'cfg(any(target_os = "freebsd", target_os = "windows"))'.dependencies]
mimalloc = { version = "0.1.39", default-features = false, features = ["local_dynamic_tls"] }

[target.'cfg(not(any(target_os = "freebsd", target_os = "windows")))'.dependencies]
tikv-jemallocator = { version = "0.5.4", default-features = false, features = ["disable_initial_exec_tls"] }

[profile.release]
codegen-units = 1
debug = false
incremental = false
lto = "fat"
opt-level = 3
panic = "abort"
strip = true
