name: lint

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - master

env:
  MATURIN_VERSION: 1.7.4
  PYTHON_VERSION: 3.12

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install
      run: |
        python -m venv .venv
        source .venv/bin/activate
        pip install maturin==${{ env.MATURIN_VERSION }}
        maturin develop --extras=lint
    - name: Lint
      run: |
        source .venv/bin/activate
        make lint
