name: test

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - master
  push:
    branches:
      - master

jobs:
  linux:
    name: linux (${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        allocator: [jemalloc]
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        - pypy3.11
        include:
          - python-version: 3.13t
            allocator: mimalloc
          - python-version: 3.14t
            allocator: mimalloc

    env:
      UV_PYTHON: ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: false
    - name: Install
      run: |
        uv python install ${{ env.UV_PYTHON }}
        uv venv .venv
        uv sync --group all
        uv run --no-sync maturin develop --uv --features ${{ matrix.allocator }}
    - name: Test
      run: |
        source .venv/bin/activate
        make test

  macos:
    name: macos (${{ matrix.python-version }})
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        allocator: [jemalloc]
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        include:
          - python-version: 3.13t
            allocator: mimalloc
          - python-version: 3.14t
            allocator: mimalloc

    env:
      UV_PYTHON: ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: false
    - name: Install
      run: |
        uv python install ${{ env.UV_PYTHON }}
        uv venv .venv
        uv sync --group all
        uv run --no-sync maturin develop --uv --features ${{ matrix.allocator }}
    - name: Test
      run: |
        source .venv/bin/activate
        make test

  windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.13t'
        - '3.14'
        - '3.14t'

    env:
      UV_PYTHON: ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v7
      with:
        enable-cache: false
    - name: Install
      run: |
        uv python install ${{ env.UV_PYTHON }}
        uv venv .venv
        uv sync --group all
        uv run --no-sync maturin develop --uv --features mimalloc
    - name: Test
      run: |
        uv run --no-sync pytest -v tests
